@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.post-body img {
	border-radius: 4px;
}

p.description {
    font-family: 'Tilt Neon';
    font-size: 0.92rem;
    background-color: #e6e6e6;
    text-align: left;
    padding: 2px 10px;
    border-radius: 3px;
	
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	
	max-height: calc(50.0vh - 60px);
	overflow: auto;
	white-space: pre-wrap;
}

p.description span {
	color: #009999;
	font-weight: 600;
}

p.description s {
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

.dl{
    margin:0 15px;
	margin-bottom:15px;
	margin-top:30px;
	color: black;
}
.dl a{
	cursor: pointer;
	color: #4b3702 !important;
	background:linear-gradient(to right, rgba(243,225,23,1) 0%, rgba(255,179,1,1) 100%);
	border-radius:8px;
	box-shadow:0px 4px 13px rgba(255, 185, 1, 0.31);
	position:relative;
	padding:15px;
	margin: 5px 0;
	transition:0.3s opacity ease;
	padding-right: 24px;
	display:block;
	font-size:15px;
	text-align:center;
	font-size: 1rem;
    font-family: 'Tilt Neon';
    padding-top: 17px;
    padding-bottom: 17px;
	
	animation-name: glowdownload;
	animation-delay: 0s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
.dl a:before{
	content:'';
	position:absolute;
	top: 15px;
    right:20px;
	background:url(icons.webp) no-repeat 61.5% 41%;
	width:20px;
	height:20px;
	animation-name: animatedownload;
	animation-delay: 0s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes glowdownload {
	0% {
		box-shadow: 0px 0px 5px 0px rgba(243,225,23);
	}
	50% {
		
		box-shadow: 0px 0px 9px 5px rgb(243 196 23);
	}
	100% {
		box-shadow: 0px 0px 5px 0px rgba(243,225,23);
	}
}

@keyframes animatedownload {
	0% {
		top: 10px;
	}
	50% {
		top: 20px;
	}
	100% {
		top: 10px;
	}
}

.musicTable {
	color: black;
    font-family: 'Tilt Neon';
    border: 2px solid #ffc801;
    border-radius: 4px;
    margin: 0px 15px;
    font-size: 0.92rem;
    user-select: none;
    box-shadow: 0px 0px 10px 3px rgb(243 196 23);
}

.musicItem {
	white-space: nowrap;
	height: 43px;
}

.musicItem:not(:last-child) {
	border-bottom: 2px solid #ffc801;
}

.musicsubItem {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 12px 0px;
    overflow: hidden;
	text-overflow: ellipsis;
}

.musicsubItem:first-child {
    border-right: 1px solid #ffc801;
	text-align: left;
	padding-left: 12px;
}

.musicsubItem a {
	color: black !important;
	transition: color 0.2s linear;
	cursor: pointer;
}

.musicsubItem a:hover:not(.disabled) {
	color: #008e25 !important;
}

.musicsubItem a.disabled {
	color: #979797 !important;
	cursor: progress;
}

.lyrics {
	border-radius: 6px;
	padding: 20px 10px;
	max-height: 59vh;
	overflow: auto;
	white-space: pre-line;
	text-align: center;
	background-color: #30363e;
	border: 2px solid #5f6267;
	position: relative;
	color: #f2f2f2;
	font-size: 1rem;
	font-family: 'Tilt Neon';
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	transition: color 0.2s linear;
}

.lyrics br {
	content: "";
	display: block;
	margin-bottom: 25px;
}

.lyrics span {
	cursor: pointer;
}

.lyrics:not(.fadeoutlyric) span.cited {
	animation-name: citedlyric;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.lyrics.arabic {
	direction: rtl;
}

.lyrics:not(.arabic) span.activeParent {
	animation: paddingLeftAnim linear 0.2s forwards;
}

.lyrics.arabic span.activeParent {
	animation: paddingRightAnim linear 0.2s forwards;
}

.lyrics:not(.arabic) span.activeParent:before {
	content: '▲';
	position: absolute;
	margin-left: -19px;
	color: transparent;
	font-size: 1rem;
	margin-top: 0px;
	animation: fadeInArrow linear 0.2s forwards;
	font-family: 'Tilt Neon';
	transform: rotate(90deg);
}

.lyrics.arabic span.activeParent:before {
	content: '▲';
	position: absolute;
	margin-left: 2px;
	margin-right: -19px;
	color: transparent;
	font-size: 1rem;
	margin-top: 0px;
	animation: fadeInArrow linear 0.2s forwards;
	font-family: 'Tilt Neon';
	transform: rotate(270deg);
}

.lyrics.fadeoutlyric {
	color: rgba(242, 242, 242, 0);
}

.post-body p {
	margin-bottom: 0px !important;
}

.chiperbill {
	display: none;
	background: transparent;
	border: none;
	position: fixed;
	z-index: 1000000;
	/*top: 10px;
	left: 10px;*/
	opacity: 0;
	height: 50.0vh;
	width: calc(100.0vw - 40px);
	/*78% is only content, the rest is empty space*/
	transition: opacity 0.3s linear;
}
